streamlit
streamlit_option_menu
streamlit.components.v1
streamlit_lottie
requests
dotenv
google.generativeai
os
plotly.express
plotly.graph_objs
base64
joblib
pandas
numpy
streamlit_chat
time 
validators
re
socket
urllib.parse
datetime
whois
hashlib
pefile
sklearn.feature_extraction.text
random
string
math
json
cryptography.fernet